eventos/*
!eventos/.gitkeep

malla/archivo/*
!malla/archivo/.gitkeep

malla/imagen/*
!malla/imagen/.gitkeep

noticias/archivos/*
!noticias/archivos/.gitkeep

noticias/imagenes/*
!noticias/imagenes/.gitkeep

noticias/videos/*
!noticias/videos/.gitkeep

personas/*
!personas/.gitkeep

tramites/*
!tramites/.gitkeep

